.menu__wrapper ul{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items:center;

  
}


.menu__wrapper{
    width: 100%;
    position: fixed;
    padding: 10px 20px 10px 20px;
    z-index: 9999;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu_wrap{
    position: "fixed";
    z-index: "25";
    top: "60%";
    left: "1.5rem";
    width: "50px";
}


.menu{
    background-color: hsl(0, 0%, 8%);
    border-radius: 50px;
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}
.create{
    background-color: var(--blend-light);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:8px;
    margin-left: 20px;
    border: none;
    box-shadow: 0px 0px 5px black;
}

