.storycard{
    width:30vw;
    height: 30vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.story-progress{
    transform: translateY(19vh);
}

.storypost{
    width: 100%;
    height: 100%;
    position: relative;
}


.storyimg{
    width: 100vw;
    height: 100%;
    top: 0;
}

.storydet{
    position: absolute;
    z-index: 30px;
    transform: translate(5px, 5px);
}

