

.avt{
  border: solid 1px transparent;
}

.Trend__Wrapper{
  width: 100%;
  overflow-x: scroll;
  display: flex;
}

.stories{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Trend__Wrapper::-webkit-scrollbar{
  display: none;
}
