.postcard{
    height: auto;
    background-color: var(--bg-color-lighter);
    margin-top: 30px;
    padding: 0px;
    color: white;
    box-shadow: 0px 0px 8px black;
}

.postcounter{
    font-size: 10px;
    transform: translateY(-8px);
}


.postimg{
    width: 100vw;
}





.postimg__wrapper{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.reactioncounter{
    font-size: 10px !important;
}
.postcta{
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
}

.r1, .r2, .r3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userpost{
    padding: 10px 20px 10px 20px;
}

.user p{
    font-size: 10px;
    color: gray;
    margin-top: 5px;
}

.user{
    margin-left: 10px;
}
.postcaption{
    height: 40px;
    overflow: hidden;
    margin: 20px 10px 10px 10px;
    font-size: 10px;
}


.join{
    all: unset;
    background:linear-gradient(60deg, orangered, purple );
    color: white;
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


