

@media only screen and (min-width:1000px){
   .cta{
    font-size: 1rem;
    font-weight: bolder;
    
   }
   .postcard{
    width: 40% !important;
   }
.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_wrap{
  display: none !important;
}
.Trend__Wrapper{
  position: fixed;
  z-index: 2000;
  top: 10%;
  margin: 50px;
  height: 100%;
 
   width: 30% !important;
   overflow-y: scroll !important;
}

.storycard{
  width: 100px!important;
  height: 100px !important;
}

.stories{
  display: flex;
  gap: 20px ;
  padding: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

   .navbar{
    justify-content: space-evenly !important;
   }

 

  .Home__layout .Home-layout__two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  
}

@media only screen and (max-width:1150px){
  .cta{
    font-size: 1rem;
    font-weight: bolder;
    
   }





  .Home__layout .Home-layout__two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
}

@media only screen and (max-width:950px){
  .cta{
    font-size: 0.8rem;
    font-weight: bolder;

   }



  




   .navbar{
    height: 60px !important;
    justify-content: space-between !important;
   }
 .logo-name{
  font-size: 1rem;
 }
  .Home__layout .Home-layout__two-col{
    display: grid;
    grid-template-columns: 1fr;

  }

  .sub-det{
    font-size: 0.6rem !important;
    padding: 0px 50px 0px 50px ;
  }

  .watch__cta{
    width: 200px !important;
  }




  .cta-btns{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    width: 100% !important;
  }
  .mov__det{
    left: 0px !important;
    margin-top: 150px;

    width: 100% !important;
  }

  .coverArt{
    height: 100%;
  }

  .movie{
    left: unset !important;
    top: 100px !important;
    height: 250px !important;
    box-shadow: none !important;
  }
  .Avatar{
    margin-left: 30px;
  }

  .navlist, .signup__btn{
    display: none;
  }
  .signup__btn{
    padding: 10px 20px 10px !important;
  }

  .movTitle{
    font-size: 15px;
  }

  .wrapper{
    flex-direction: column !important;
    height: 40vh !important;
  }

  .popular{
    margin-top: 15px!important;
  }

  .popular__category{
    font-size: medium;
    transform: translate(30px,10px) !important;
  }

  .rating{
    margin-top: 10px;
  } 

  .bigTitle{
    font-size: 30px !important;
    padding: 20px;
    width: 100%;
    left: 0 !important;
    top: 50% !important;
    text-align: center;
  }

  .channels{
    margin-top: 500px !important;
  }

  .livebtn{
    margin-left: 30px !important;
  }

  .liveDiscussion{
    position: absolute;
    top: 45% !important;
    margin-left: 90px;
  }

  .channelcard{
    width: 200px !important;
    height: 100px !important;
  }

  .logo{
    width: 30px !important;
  }
  
}