body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movieslist{
  width: 100%;
  margin-top: 50px;
  overflow-x: scroll;
  justify-content:left;
}

.movieslist::-webkit-scrollbar{
  display: none;
}


.flex__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid__layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

:root{
  --bg-color:#080808;
  --bg-color-lighter:hsl(0, 0%, 7%);
  --blend-light:#0066cc;
  --blend-dark:#2e3338;
  --telli-red:#ff1100;
}

.cta{
  all: unset;
  cursor: pointer;
  padding: 10px;
}


